.title {
  font-size: 60px;
  color: red;
  margin: 40px 0;
}

.btn {
  padding: 10px 30px;
  background-color: #35d735;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
}
