.header {
  background-color: #282c34;
  padding: 20px 40px;

  &_link {
    color: white;
    margin-right: 20px;
    text-decoration: none;

    &:last-child {
      margin-right: 0;
    }
  }
}

.active {
  color: greenyellow;
  text-decoration: none;
}
