.header {
  background-color: #282c34;
  padding: 20px 40px;

  &_link {
    color: white;
    margin-right: 20px;
    text-decoration: none;

    &:last-child {
      margin-right: 0;
    }
  }
}

.active {
  color: greenyellow;
  text-decoration: none;
  margin-right: 20px;
}

.title {
  margin-top: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  grid-gap: 20px;
  padding: 20px;
}


@media (max-width: 425px) {
  .wrapper {
    padding: 10px;
  }
}
